
.container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 2rem;
  text-align: center;
  color: white
}

.furniture-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.furniture-card {
  flex: 1 1 300px;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.furniture-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

.furniture-title {
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: black
}



.furniture-card {
  flex: 1 1 500px; 
  max-width: 500px;
  background-color: #fff; 
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.furniture-card img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.furniture-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}


.furniture-title {
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  font-weight: bold;
  font-size: 1rem;
  background-color: white; 
}
