
.navbar {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  padding: 1rem 2rem;
  background-color:#40474F;
  border-bottom: 1px solid #40474F;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.navbar .nav-links {
  display: flex;
  gap: 2rem;
}

.navbar .nav-links li a {
  color: white;
  font-weight: 500;
  padding: 0.5rem 0;
  position: relative;
  transition: color 0.3s;
}


.navbar .nav-links li a:hover {
  color: #666c72; 
}




@media (max-width: 768px) {
  .navbar {
    justify-content: center;
  }

  .nav-links {
    flex-direction: column;
    gap: 1rem;
  }
}
